<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.xt.jokii.inventory"
    android:versionCode="048"
    android:versionName="0.4.8" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pl.xt.jokii.inventory.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <provider android:name="pl.xt.jokii.db.InventoryProvider" 
                  android:authorities="pl.xt.jokii.db.InventoryProvider"
                  android:exported="false"/>
        
        <activity android:name="AddEditActivity"/>
        
        <activity android:name="NewCategoryDialog" 
                  android:theme="@android:style/Theme.Dialog" />

    </application>

</manifest>